.Pokedex {
  text-align: center;
}

.Pokedex-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #eceff1;

}

.Pokedex-winner {
  color: green;
  text-align: center;
}

.Pokedex-loser {
  color: red;
  text-align: center;
}
